### Gradle ###
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/**/build/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/**/out/

.run/

### TRAE ###
.trae/

### Eclipse ###
.apt_generated
.classpath
.eclipse/
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/**/bin/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Minecraft Modding ###
run/
runs/
logs/
crash-reports/
!**/src/**/run/
**/src/generated/**/.cache/
repo/
!**/src/**/repo/

### Java ###
*.class
hs_err_pid*
replay_pid*
local.properties

### Logs ###
*.log

### Windows ###
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

### Linux ###
*~

### Archives / Packages (keep jars in libs/) ###
*.tar.gz
*.zip
*.rar
*.7z
